body{
    margin: 0;
}
span{
    color: orange;
}
.first-part{
    display: flex;
}
.first{
    width: 50%;
}
.first h1{
    font-size: 80px;
    font-family: 'Libre Baskerville', serif;
    border-left: 5px solid rgb(48, 48, 238);
    border-radius: 3px;
    padding: 0px 0px 0px 20px;
    
}

.img-1 img{
    width: 580px;
    padding-right: 250px;
}
.first p{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    color: rgba(0, 0, 0, 0.774);
}
.text{
    margin-left: 180px;
    margin-top:  100px;
    padding-right: 180px;
    width: 90%;
}
.first button{
    height: 60px;
    width: 200px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color:  white;
    background-color: cadetblue;
    border-radius: 6px;
}
#second-section{
    font-family: 'Poppins', sans-serif;
}
.second-heading{
    font-size: 65px;
    text-align: center;
    font-weight: 600;
}
.second-part{
    display: flex;
}
.second-part h3{
    font-size: 35px;
}
.second-part img{
    width: 50%;
}
.point{
    width: 400px;
    margin-left:20px;
    margin-right: 20px;
}
.mission{
    background-color: rgba(135, 207, 235, 0.178);
    border-radius: 30px;
    padding: 20px 50px;
    margin-left:180px;
}
.point p{
    font-size: 23px;
    padding-top: 0;
    margin-top: 10px;
    width: 400px;
}
.vision{
    background-color: rgba(255, 192, 203, 0.356);
    border-radius: 30px;
    padding: 20px 50px;
}
.goals{
    background-color: rgba(255, 255, 0, 0.185);
    border-radius: 30px;
    padding: 20px 50px;
}
.point h3{
    padding-bottom: 0px;
    margin-bottom: 0;
    margin-top: 0;
} 
.third-part{
    display: flex;
    font-family: 'Poppins', sans-serif;
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position-x: 60px;
    background-position-y: 220px;
}
.coding-img img{
    width: 550px;
    margin-left: 180px;
    margin-top: 120px;
    margin-right: 100px;
    padding-right: 0px;
}
.third-text{
    width: 100%;
    margin-left: 0px;
    padding-left: 0;
}
.third-text h2{
    font-size:  50px;
    margin-top: 120px;
    margin-left: 0px;
    padding-left: 0px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.781);
}
.third-text p{
    font-size: 25px;
    width: 950px;
}
.third-text button{
    height: 60px;
    width: 350px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color:  white;
    background-color: cadetblue;
    border-radius: 7px;
}
.fourth-part{
    display: flex;
    font-family: 'Poppins', sans-serif;
    background-image: url(./images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position-x: 1560px;
    background-position-y: 470px;
}
.fourth-text button{
    height: 60px;
    width: 350px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color:  white;
    background-color: cadetblue;
    border-radius: 7px;
}
.fourth-text h2{
    font-size:  50px;
    margin-top: 140px;
    margin-left: 0px;
    padding-left: 0px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.781);
}
.fourth-text p{
    font-size: 25px;
    width: 900px;
    padding: 0;
    margin-right: 0;
}
.fourth-text{
    width: 90%;
    margin-left: 0px;
    padding-left: 180px;
    margin-right: 0;
    padding-right: 0;
}
.project-img img{
    width: 550px;
    margin-left: 0px;
    margin-top: 100px;
    margin-right: 170px;
    padding-right: 0px;
}